/*all right reserved End of My Lilith*/
/*PCとスマホで大きく変わる可能性のあるものは下に入れること！*/

/*-----------------------------------------------------*/
/*共通設定*/
/*body*/
body{
    background: #131318;

    margin: 0px;
    padding:0px;

    color:"#80a6b0";
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 2;
    -webkit-text-size-adjust: none;
}

/*footer以外全要素を囲んでいる枠*/
#container{
    background:#07121e;
    border: 1px solid;
    border-color:#74e9f9;
    overflow: hidden;
	max-width: 1000px;
    height: auto;
	margin: 30px auto 0;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.4);
	border-radius: 20px;	/*角丸のサイズ*/
	padding: 40px;		/*ボックス内の余白*/
}
/*一番上に表示する画像
もしかしたら時間経過でスライドショー形式にする？*/
.slider {
    position: relative;
    text-align: center;
}

.slider img {
    width: 100%;
    height: auto;
}

/*画像下に配置するコンテンツへの遷移ボタン*/
.content-links {
    display: flex;
    justify-content: space-between; /* 等間隔に配置 */
    max-width: 100%;
    gap: 10px;
}

.content-item {
    flex: 1; /* 各リンクが均等な幅になるように */
    padding: 0px 0;
    border: 1px solid;
    border-color:#355265;
    color:#74e9f9;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.content-item:hover {
    background-color: #dfe7e9;
    transform: scale(1.05); /* ホバーで拡大 */
}

/*各ページのメイン要素全部に適用*/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0px auto; /* 中央に配置 */
    margin-top: 20px;
    color: #74e9f9;
}

/*footer*/
footer {
    clear: both;
    text-align: center;
    padding-bottom: 20px;
    justify-content: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
    color: #ccc;
}
footer a {
    width: 90%;
    /*height: 75px; /* 高さを50pxに指定 */
    color: #fff;
    /*padding: 30px 0;
    position: absolute;/*←絶対位置*/    
}

footer .social-icons img {
    max-width: 30px;   /* 最大幅を30pxに設定 */
    height: auto;      /* 高さは自動調整でアスペクト比を維持 */
    margin: 0 5px;     /* アイコン同士の間隔を設定 */
    vertical-align: middle; /* テキストと中央揃え */
}

/*-----------------------------------------------------*/
/*main page*/
/*三つのコンテンツの総合*/

.main_contents {
    display: grid;
    grid-template-areas: 
        "information emp1 content"
        "emp2 emp1 content"
        "whats-new emp1 content";
    grid-template-columns: 59% 2% 39%;
    grid-template-rows: 59% 2% 39%;
    width: 1000px;
    height: 480px;
    margin: 0 auto ;
    box-sizing: border-box;
    /*transform: translateX(-10px); /* gapの半分だけ左にずらす */
}

.information, .whats-new {
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 5px 20px;
    border: 2px solid #355265;
    line-height: 25px;
}

.information {
    grid-area: information;
}

.whats-new {
    grid-area: whats-new;
}

.content {
    grid-area: content;
    box-sizing: border-box;
    border: 2px solid #355265;
    padding: 5px 20px;
}

/*-----------------------------------------------------*/
/*工事中 page*/
.kouji{
    color: #2ea3b2;
    text-align: left;
    margin-left: 20px;
}

.kouji img {
    max-width: 100%;  /* 枠内に収める */
    height: auto;     /* アスペクト比を保つ */
    display: block;
    margin: 10px auto; /* 枠内で中央に表示 */
}


/*-----------------------------------------------------*/
/*about page*/
/*About全体*/

.about{
    display: grid;
    grid-template-columns: 65% 0% 25%;
    width: 100%;
    box-sizing: border-box;
    align-items: start; /* 内容に応じて高さを自動調整 */
}

.about p{
    margin-top: 0px;
    margin-bottom: 0px;
}


.about img {
    max-width: 100%;  /* 枠内に収める */
    height: auto;     /* アスペクト比を保つ */
    display: block;
    margin: 10px auto; /* 枠内で中央に表示 */
}

/*説明部分*/
.about_text{
    color: #2ea3b2;
    text-align: left;
    margin-left: 20px;
    grid-column: 1/2;
}

.about_img{
    color: #2ea3b2;
    text-align: left;
    width: 100%;
    margin-top: 30px;
    margin-right: 0px;
    grid-column: 3/4;
}


/*-----------------------------------------------------*/
/*ブログページ*/
/*全体設計*/
.blog_contents {
    display: grid;
    grid-template-columns: 74% 2% 24%;
    width: 100%;
    box-sizing: border-box;
    align-items: start; /* 内容に応じて高さを自動調整 */
}

/* ブログ一覧のスタイル */
.blog-list {
    display: grid;
    gap: 20px;
    margin-top: 0px;
    grid-column: 1/2;
}

.blog-thumbnail {
    padding: 20px;
    color: #2ea3b2;
    border: 2px solid #355265;
    line-height: 25px;
    box-sizing: border-box;
}

.blog-thumbnail h2 {
    font-size: 1.2em;
    color: #2ea3b2;
}

.blog-thumbnail p {
    color: #2ea3b2;
    font-size: 0.9em;
}

.blog-thumbnail a {
    color: #1e568d;
    text-decoration: none;
}

/* ページ分割ボタン */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    grid-column: 1/2;
    grid-row: 2/3;
}

.pagination button {
    padding: 6px 6px;
    border: none;
    background-color: #0e69c4;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.pagination button.active {
    background-color: #555;
    color: white;
    font-weight: bold;
}

.pagination button:disabled {
    background-color: #ccc;
    color: #aaa;
    cursor: default;
}

.pagination button:hover:not(.active):not(:disabled) {
    background-color: #eee;
}

/* Markdownに関する記述 */
.blog_text {
    padding: 20px;
    color: #2ea3b2;
    border: 2px solid #355265;
    line-height: 25px;
    box-sizing: border-box;
    grid-column: 1 / 2;
}

/* Markdown内の画像に最大幅を設定 */
.blog_text img {
    max-width: 100%;  /* 枠内に収める */
    height: auto;     /* アスペクト比を保つ */
    display: block;
    margin: 10px auto; /* 枠内で中央に表示 */
}

.blog_description{
    padding: 20px;
    line-height: 1em;
    color: #2ea3b2;
    border: 2px solid #355265;
    text-align: center;
    box-sizing: border-box;
    grid-column: 3 / 4; 
}

.blog_description img{
    max-width: 100%;  /* 枠内に収める */
    height: auto;     /* アスペクト比を保つ */
    display: block;
    margin: 5px auto; /* 枠内で中央に表示 */
}

/* タイトル */
#blog-title {
    font-size: 2em;
    font-weight: bold;
    color: #2ea3b2;
    text-align: center;
    margin-bottom: 10px;
    line-height: 100%;
}

/* 共有ボタン */
.blog_share {
    display: flex;
    align-items: center;
    gap: 10px; /* テキストとアイコンの間隔 */
}

.blog_share img {
    max-width: 30px;   /* 最大幅を30pxに設定 */
    height: auto;      /* 高さは自動調整でアスペクト比を維持 */
    margin: 0 5px;     /* アイコン同士の間隔を設定 */
    vertical-align: middle; /* テキストと中央揃え */
}

/* 区切り線 */
.separator {
    width: 100%;
    height: 2px;
    background-color: #295f67; /* 色を指定 */
    margin-bottom: 20px;
}


/*-----------------------------------------------------*/
/* 頒布物ページ */
/* フィルターボタンを横並びに配置 */
.filter-buttons {
    display: flex; /* フレックスボックスを使用 */
    justify-content:flex-end; /* 横中央揃え */
    width: 100%;
    margin-bottom: 10px;
    gap: 10px;
}

.filter-button {
    width: 100px;
    padding: 0px 0;
    border: 1px solid;
    border-color:#355265;
    color:#355265;
    background-color: #07121e;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    text-align: center;
}

.filter-button.active {
    background-color: #2ea3b2;
    color: white;
}

.filter-button:hover {
    background-color: #ddd;
}

/* 本の要素を順に配置 */
.works_contents {
    width: 100%; /* 横幅100% */
    display: flex;
    flex-direction: column;
}

.work-item {
    display: flex;
    width: 100%;; 
    min-height: 200px;
    margin: 0 auto; /* 中央揃え */
    border: 1px solid #2ea3b2;
    border-radius: 10px;
    background-color: #07121e;
    margin-bottom: 20px;
}

.book-cover {
    width: 240px;
    height: 320px;
    object-fit: cover;
    margin: 20px 20px 20px 20px ;
    border-radius: 5px;
}

.book-info {
    display: flex;
    flex-direction: column;
}


.book-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.book-description {
    font-size: 18px;
    margin-top: 1px;
    color: #469fac;
}

/*-----------------------------------------------------*/
/*Cosplay page*/
/*Cosplay全体*/

.Cosplay {
    display: flex; /* フレックスボックスで配置 */
    flex-wrap: wrap; /* 折り返しを許可 */
    justify-content: center; /* コンテナ内で中央揃え */
    gap: 5px; /* 画像間のスペースを固定で2pxに設定 */
    width: 100%;
    margin-top: 20px;
}

.Cosplay img {
    height: 150px; /* 縦の長さを200pxに統一 */
    width: auto; /* 横幅を自動調整して縦横比を維持 */
    display: block; /* 画像をブロック要素にして中央寄せを簡単にする */
    border:none /* ボーダーを削除 */
}

.Cos_text span { /* テキスト要素に適用 */
    color: #2ea3b2; /* テキストの色を指定 */
    font-size: 20px; /* テキストサイズを指定 */
    text-align: center; /* テキストを中央揃え */
    margin: 0px 0px; /* テキストの上下間隔を調整 */
    white-space: pre-line; /* 改行を有効にする */
    word-break: break-word; /* テキストが長い場合に折り返す */
    display: block; /* 改行を確実にするため、ブロック要素に設定 */
}

@media (max-width: 740px) {
    .main_contents {
        display: grid;
        grid-auto-flow: column;
        grid-template-areas: 
        "information"
        "emp1"
        "whats-new"
        "emp2"
        "content";
        grid-template-columns: 100%;
        grid-template-rows: 200px 5px 200px 5px 440px;
        width: 100%;
        min-height: 850px;
        margin: 0 auto ;
        box-sizing: border-box;
    }
}

